/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
.attachment-icons-wrapper{
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	clear:both;
}
.attachment-icon{
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	background-color: #eee;
	background-color: rgba(0,0,0,.05);
	width:31.333%;
	margin: 0 1% 2% ;
	float:left;
	text-align: center;
	max-height:4.75em;
	overflow:hidden;
	
}
.attachment-icon:hover{
	background-color:rgba(0,0,0,.1);
	
}
.attachment-icon img{
	max-width:25%;
	float:left;
	opacity:.3;
	margin-right:5%;
}
.attachment-icon a{
	display: block;
	height:100%;
	padding:1em;
}
